[submodule "lib/ripple"]
	path = lib/ripple
	url = git@github.com:tesselode/ripple.git
[submodule "lib/shine"]
	path = lib/shine
	url = git@github.com:vrld/shine.git
[submodule "lib/hump"]
	path = lib/hump
	url = git://github.com/vrld/hump
[submodule "lib/inspect"]
	path = lib/inspect
	url = git@github.com:kikito/inspect.lua.git
[submodule "lib/HC"]
	path = lib/HC
	url = git@github.com:vrld/HC.git
[submodule "lib/lovebird"]
	path = lib/lovebird
	url = git@github.com:rxi/lovebird.git
[submodule "lib/tick"]
	path = lib/tick
	url = git@github.com:bjornbytes/tick.git
